body {
  margin: 0;
  padding: 0;
}

#poeira, #restaurar {
  width: 100px;
  height: 30px;
  outline: none;
  cursor: pointer;
  margin: 30px; 
}

#restaurar {
  margin: 0; 
}

.imagens {
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  width:400px;
  height: 400px;
}

.img1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform-origin: left;
}

.img2 {
  width: 800px;
  height: 400px;
  transform: translateX(400px) scaleX(0);
  transform-origin: left;
}

.efeito .img1 {
  transition: 4s;
  transition-delay: 1s;
  transform: translateX(50px);
  opacity: 0;
  filter: blur(10px);
}

.efeito .img2 {
  transition: 8s;
  transform: translateX(-400px) scaleX(1);
}
